<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= data.program.title %></title>
  <link rel="stylesheet" href="./pddf-html/style.css">
  <style>
    @font-face {
      font-family: IranYekan;
      src: url(IRANYekanWebRegular.woff) format("woff");
    }

    * {
      font-family: "IranYekan";
    }

    body {
      direction: rtl;
      margin: 0;
      padding: 0;
    }

    table.exercise-list {
      margin: auto;
      border: 1px solid #ccc;
      border-radius: 6px;
      text-align: center;
      border-collapse: collapse;
      width: 100%;
    }

    table.exercise-list img {
      width: 40px;
    }

    table.exercise-list tr:not(:last-child) td {
      border-bottom: 1px solid #ccc;
    }

    table.exercise-list th {
      border: 2px solid;
    }

    .sets {
      font-size: 12px;
      width: 35px !important;
    }

    th.sets {
      max-width: 61px;
    }

    tr.exercise-system {
      background: #669933;
      color: #fff;
      font-size: 12px;
    }

    .container {
      max-width: 95%;
      margin: auto;
    }

    td.sets {
      border-right: 1px solid #ccc;
      padding: 1px;
    }

    tr.end-exercise-system td {
      border-bottom: 5px solid #669933 !important;
    }

    .header {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      background: #669933;
      color: #fff;
      margin-bottom: 20px;
      align-items: center;
    }

    .header img {
      width: 150px;
      height: auto;
    }

    .texts-head p.coach-name {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 0;
      margin-top: 10px;
    }

    .texts-head h1 {
      font-size: 18px;
      margin: 0;
    }

    /* .movement-title {
  margin: 0 !important;
}
.movement-description {
  margin: 0 !important;
} */

    tr.seperator {
      background: #669933;
    }
  </style>
</head>

<body>
  <div class="header">
    <div class="texts-head">
      <p class="coach-name">دکتر پویا شوکتی</p>
      <h1>برنامه تمرینی ماه اول</h1>
    </div>
    <img src="./pddf-html/sample-logo.png" alt="" class="logo">

  </div>

  <% data.program.days.forEach(function(day, index) { %>
  <div class="container" style="<%- index > 0 ? `page-break-before: always` : "" %>">
    <div class="day-title">برنامه روز <%= numberToOrdinal( index+1) %></div>
    <p class="day-description">توضیحات: <%= day.description || '-----' %><br>

    <table class="exercise-list">
      <tr>
        <th>#</th>
        <th></th>
        <th></th>
        <th class="sets">ست 1</th>
        <th class="sets">ست 2</th>
        <th class="sets">ست 3</th>
        <th class="sets">ست 4</th>
        <th class="sets">ست 5</th>
      </tr>
      <% day.data.forEach(function(data,dindex) { %>


      <% if(data.exercise_system != "معمولی"){ %>
      <tr class="exercise-system">
        <td colspan="8">
          <%= data.exercise_system  %>
        </td>
      </tr>
      <% }else { %>

      <tr class="seperator">
        <td colspan="8"></td>
      </tr>
      <% } %>
      <% data.movement_list.forEach(function(movement, mindex){ %>
      <tr class="addplus">
        <td>
          <% if(mindex == 0) { %>
          <%= dindex+1 %>
          <% } %>
        </td>
        <td>
          <img src="http://storage.morabiha.com<%= movement.action_pic_url %>" alt="">
        </td>
        <td>
          <p class="movement-title" style="text-align: right;margin: 0;"><%= movement.action_title %></p>
          <% if(movement.description){ %>
          <p class="movement-description" style="font-size: 11px;text-align: right;color: #737272;margin: 0;line-height: 1.2;">
            توضیحات: <%- movement.description %>
          </p>
          <% } %>
        </td>
        <% movement.sets.forEach(function(set, sindex) { %>
        <td class="sets"><%= set.count %> <%= set.type %></td>
        <% }) %>
        <% Array(Math.max(5-movement.sets.length,0)).fill(0).forEach(function(x){ %>
        <td class="sets"></td>
        <% }) %>
      </tr>

      <% if(mindex < data.movement_list.length - 1) { %>
      <tr class="plus-row">
        <td colspan="100%" style=" border: none;">
          <div class="plus-sign">+</div>
        </td>
      </tr>
      <% } %>

      <% }) %>

      <style>
        .plus-row {
          position: relative;
          /* height: 0px; */
          /* Adjust the spacing */
        }



        .plus-sign {
          position: absolute;
          top: -14px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 24px;
          font-weight: bold;
          padding: 0px;
          color: #669933;
        }
      </style>


      <% }) %>
      <!-- <tr class="exercise-system">
                <td colspan="7">ستستم تمرینی سوپر ست</td>
            </tr> -->
      <!-- <tr>
                <td><img src="./pddf-html/exerise.png" alt=""></td>
                <td>
                    <p>پرس سینه دمبل جفت دست</p>
                    <p>توضیحات: ست آخر دراپ ست باشد</p>
                </td>
                <td class="sets">15 تکرار</td>
                <td class="sets">15 تکرار</td>
                <td class="sets">15 تکرار</td>
                <td class="sets"></td>
                <td class="sets"></td>
            </tr>
            <tr class="end-exercise-system">
                <td><img src="./pddf-html/exerise.png" alt=""></td>
                <td>
                    <p>پرس سینه دمبل جفت دست</p>
                    <p>توضیحات: ست آخر دراپ ست باشد</p>
                </td>
                <td class="sets">15 تکرار</td>
                <td class="sets">15 تکرار</td>
                <td class="sets">15 تکرار</td>
                <td class="sets"></td>
                <td class="sets"></td>
            </tr>
            <tr>
                <td><img src="./pddf-html/exerise.png" alt=""></td>
                <td>
                    <p>پرس سینه دمبل جفت دست</p>
                    <p>توضیحات: ست آخر دراپ ست باشد</p>
                </td>
                <td class="sets">15 تکرار</td>
                <td class="sets">15 تکرار</td>
                <td class="sets">15 تکرار</td>
                <td class="sets"></td>
                <td class="sets"></td>
            </tr> -->
    </table>
    <!-- <br />
    <br />
    <hr />
    <br />
    <br /> -->
  </div>
  <% }) %>

</body>

</html>